@model List<PizzaBox.Domain.Abstracts.Ingredient>
@{
	Layout = "";
}	

		<h2>Pizza Crust Selection:</h2>
					<table>
				<tr>
        	<th>Crust #</th>
          <th>Crust Description</th>
					<th>Crust Cost</th>
					<th>Crust Selection</th>
          </tr>
					@{
						for (int i = 0; i < @Model.Count; i++){
							<tr>
              	<td>@(i+1)</td>
                <td>@Model[i].Description</td>
								<td>$@Model[i].Cost</td>
                <td><input type="radio" name="pizzaCrustCode" value= @i required></td>
              </tr>
						}
					}
			</table>